/* Footer Styling */
.footer {
    background-color: #a1f1cf;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.footer-section {
    flex: 1;
    padding: 0 20px;
}

.footer-section h3 {
    margin-bottom: 15px;
    font-size: 1.2rem;
    color: #0a0a0a;
}

.footer-section p, .footer-section ul {
    font-size: 0.9rem;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: rgb(8, 8, 8);
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #ffffff;
}

.footer-section .socials a {
    color: rgb(11, 11, 11);
    font-size: 1.2rem;
    margin-right: 15px;
    transition: color 0.3s;
}

.footer-section .socials a:hover {
    color: #f2ecec;
}

.footer-bottom {
    background-color: #222;
    color:white;
    padding: 10px 0;
    font-size: 0.8rem;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin-bottom: 20px;
        padding: 0;
    }
}
