/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a1f1cf;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}

.navbar-brand a {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
}

.navbar-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar-links li {
    display: inline;
    margin: 0 15px;
}

.navbar-links a {
    text-decoration: none;
    color: rgb(13, 13, 14);
    font-size: 1rem;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #fdfbfb;
}

.navbar-search {
    display: flex;
    align-items: center;
}

.navbar-search input[type="text"] {
    padding: 5px;
    border-radius: 4px;
    border: none;
    font-size: 1em;
    margin-right: 5px;
}

.navbar-search button {
    padding: 6px 10px;
    margin-left: 5px;
    border-radius: 4px;
    border: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navbar-search button:hover {
    background-color: #444444;
}
.navbar-auth {
    display: flex;
    gap: 10px;
}

.navbar-auth .login-btn, .navbar-auth .signup-btn {
    padding: 8px 15px;
    background-color: #a1f1cf;
    border: none;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none; 
}

.navbar-auth .login-btn:hover, .navbar-auth .signup-btn:hover {
    background-color: #88d6b2;
}

.navbar-cart a {
    display: flex;
    align-items: center;
}

.toggle-button {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
/* Responsive design */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
        padding: 15px 0;
        width: 100%;
    }

    .navbar-links.active {
        display: flex;
    }
}